{% extends 'myweb/base.html' %}
{% block title %}Map&Data infected person{% endblock %}
  <!-- Main Content -->
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <h2 class="post-title">
              Map and information on infected people in each province.
            </h2>
            <h3 class="post-subtitle">
              <iframe src="https://covid19.th-stat.com/th/share/map" style="border:none;" height="360" width="800"></iframe>
            </h3>
        </div></div></div></div>
     {% endblock %}


