{% extends 'myweb/base.html' %}
{% block title %}Assignment To Day In Covid{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <div style="text-align: center"><a href="https://covid19.th-stat.com/th/self_screening" target="_blank">
        <button type="button" class="btn btn-outline-danger">ทำแบบทดสอบเกี่ยวกับ Covid</button>
        <a href="/Assignment" target="_blank"> <button type="button" class="btn btn-outline-danger">แบบสอบถามและข้อเสนอแนะเว็บไซด์</button>
    </a></div>
    {% else %}
  <h2 align="center"> You are not logged in </h2>
  <div style="text-align: center"><a href="/Login19"> <button type="button" class="btn btn-outline-danger">LOGIN</button></a>
  <a href="/register"> <button type="button" class="btn btn-outline-danger">Register </button> </a></div>
{% endif %}
 {% endblock %}
