<!DOCTYPE html>
<html>

<head>
    <title>Covid19</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="CsAbnHnNLYFQTp4t+SYiLkel4Ck5w7rITy62uLpB6VaORY+9iCBc/OGAXCIaZpkJj7eaTo1pWrdQ1INj81KCFA==" />
    <meta name="csp-nonce" />
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href='https://cdn4.iconfinder.com/data/icons/coronavirus-1/512/wuhan-coronavirus-virus-outbreak-02-512.png'>
    <link rel="stylesheet" media="all" href="/assets/application-1e6ace54ee111bd3962987904cbd42666415a0e92400ec84c2aaf34837cb06a9.css" data-turbolinks-track="reload" />
    <script src="/packs/js/application-f6a4d91af08594d6eee9.js" data-turbolinks-track="reload"></script>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/js/mdb.min.js"></script>
</head>

<body>
    <div>
  <hello-angular>Loading...</hello-angular>
</div>
<script src="/packs/js/hello_angular-fae109a18bb3f3d5f66d.js"></script>
</body>

</html>